cat <<EOF > .gitignore
# Ignore editor temporary files
*.swp
*.swo
*~

# Ignore simulation generated directories and logs from VCS and Verdi
output/
output_vcs/
csrc/
simv
simv.daidir/
*.daidir
*.log
*.vpd
*.fsdb
*.rc
verdiLog/
novas.*
ucli.key

# Ignore other possible compilation products
*.o
*.so
EOF
